-i https://pypi.python.org/simple
awshelper
boto3
cachetools
certifi
cffi
chardet
colorama
dictdiffer
distlib
docker
docutils
google-auth
idna
ipaddress
jinja2
jmespath
markupsafe
oauthlib
pre-commit
requests
requests-oauthlib
rsa
ruamel.yaml
ruamel.yaml.clib
setuptools
six
six
urllib3
websocket-client
