-i https://pypi.python.org/simple
setuptools
six
distlib
awscliv2
boto3
asn1crypto
cachetools
certifi
cffi
chardet
colorama
dictdiffer
docutils
futures
google-auth
idna
ipaddress
jinja2
jmespath
markupsafe
oauthlib
openshift
pipenv
psycopg2-binary
pyasn1-modules
pyasn1
pycparser
pymysql
python-dateutil
python-string-utils
pyyaml
requests-oauthlib
requests
rsa
ruamel.yaml.clib
ruamel.yaml
s3transfer
six
urllib3
websocket-client
docker-compose
ansible-vault
awshelper
